header {
  width: 400px;
  margin: auto;
  /* position: relative; */
}

#burger {
  display: none;
}


.burger {
  /* display: flex; */
  position: fixed;
  top: 30px;
  left: 50%;
  translate: -50%;
  /* margin-right: 15px; */
  width: 40px;
  height: 25px;
  cursor: pointer;
  align-items: center;
  z-index: 3;

  span,
  ::before,
  ::after {
    display: block;
    position: absolute;
    top: 10px;
    width: 40px;
    height: 4px;
    background-color: #2F281E;
    transition: 0.5s;

    &::before {
      content: "";
      top: -8px;
    }

    &::after {
      content: "";
      top: 8px;
    }
  }
}



.nav__list {
  visibility: hidden;
  width: 300px;
  position: fixed;
  top: -300px;
  left: 50%;
  translate: -50%;
  border-radius: 20px;
  border: 1px solid #833939;
  box-shadow: 0 0 10px rgba(78, 3, 3, 0.6);
   transition: 0.3s;
}

.nav__link {
  width: 100%;
  padding: 25px;
  border-bottom: 1px solid #833939;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #8080df;
}

.nav__link:hover {
  background-color: #f1e2dd;
  color: blue;
}

.nav__item:nth-child(4)>.nav__link {
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

.nav__item:nth-child(1)>.nav__link {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}



.burger small {
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  width: 0;
  left: 50%;
  top: 50%;
  opacity: 0;
  translate: -50% -50%;
  transition:
    width 0.3s,
    opasiti 0.3s;
  border: 3px solid black;
}


#burger:checked~.burger>span {
  width: 0;
}

#burger:checked~.burger>span::before {
  top: 0;
  transform: rotate(45deg);
}

#burger:checked~.burger>span::after {
  top: 0;
  transform: rotate(-45deg);
}
#burger:checked~.burger>small {
  opacity: 1;
  width: 50px;
}

#burger:checked ~ .nav__list {
visibility: visible;
top: 75px;
}

